<div class="body">
   <div class="consumptions">
    <h1> <%= @checkins.beers_consumed_today(Date.today) %> beers have been drank today.</h1>
   
    <h2> It is estimated that <span style="display: inline"><h3>17</h3></span> <h2>people have   gotten drunk!</h2>
   </div>
</div>