@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #f9f3e7;
  min-height: 600px;
}
.body {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  font-family: Lato;
  min-height: 600px;
}
.navbar {
  background-color: #fdc500;
  width: 100%;
}
.header-text {
  text-align: center;
  height: 90px;
  h5 {
    color: #FFFFFF;
    font-size: 35pt;
    padding-top: 0px;
    padding-bottom: 0px;
    font-family: Quicksand;
    font-weight: 300;
    text-shadow: 4px 4px 4px #aaa;
  }
  p {
    color: #000000;
    font-size: 16pt;
    font-family: Lato;
    font-weight: normal;
    padding-top: 0px;
    margin-top: -20px;
  }
}
.header-text a:hover{
  text-decoration: none;
  letter-spacing: 2px;
}
.header-text a:active, a:visited {
  color: #FFFFFF;

}

.header-link {
  text-align: center;
  padding-top: 35px;
  padding-bottom: 0px;
  left: 20px;
  color: #FFFFFF;
  display: inline-block;
}

.header-link a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 14pt;
  font-family: Lato;

}
.header-link a:hover {
  letter-spacing: 3px;
}
/*user nav bar*/
.user{
  font-size: 14pt;
  font-family: Lato;
  color: #FFFFFF;
  background-color: #651c00;
  width:100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  height: 55px;
  padding: 5px;
}
.user a:active, a:visited, a:hover {
  text-decoration: none;
}
.user-links {
  text-align: right;
}

#search {
  color: #000000;
  height: 40px;
  width: 320px;
}

.search-button {
  border: 1px solid #651c00;
  border-radius: 5px;
  padding: 5px;
  background-color: #fdd64c;
  color: #FFFFFF;
  font-family: Quicksand;
  font-size: 16pt;
  text-transform: uppercase;
}
.avatar {
  border-radius: 70%;
  width: 45px;
  height: 45px;
}
h1, h2, h3, h4 {
  font-weight: normal;
  font-family: Quicksand;
}
.footer {
  background-color: #651c00;
  width: 100%;
  height: 200px;
  padding: 10px;
  color: #FFFFFF;
}
.front-page {
  width:100%;
  height: 1000px;
  border:0px;
  background-image: url("beerpour.gif");
  h6 {
    position: absolute;
    margin-top: 150px;
    margin-left: 50px;
    font-size: 80pt;
    font-family: Quicksand;
    color: #FFFFFF;
}
}

main-body {
  margin-top: 0px;
  width: 100%;
}

/*Simple Form Styling*/
.form-group label {
  display: block;
  font-size: 16pt;
  font-family: Arial;
  font-weight: lighter;
  color: #651c00;
  text-align: left;
  margin-right: 10px;
}

.form-group input {
  padding: 5px;
  margin-bottom: 10px;
  background-color: #ececec;
  border: 1px solid #651c00;
  border-radius: 10px;
  width: 650px;
  height: 40px;
}

.form-group textarea {
  padding: 5px;
  margin-bottom: 10px;
  background-color: #ececec;
  border: 1px solid #651c00;
  border-radius: 10px;
  width: 650px;
  height: 120px;
}

#beer_category_id, #beer_brewery_id {
  width: 650px;
  height: 40px;
  border-radius: 10px;
  background-color: #651c00;
  color: #FFFFFF;
  font-weight: lighter;
  font-size: 14pt;
  text-transform: uppercase;
}

.form-control {
  font-size: 14pt;
  font-weight: lighter;
  letter-spacing: 4px;
  color: #999999;
  background-color: #651c00;
  border-radius: 10px;
  border: 1px solid #fdc500;
}

#check_in_body {
  width: 100%;
  height: 50px;
  border-radius: 5px;
}

/*Individual establishment tiles on the index page*/
/*Individual beer tile on establishment show page*/

.establishment, .beer {
  text-align: center;
  background-color: #fdd64c;
  border: 1px solid #651c00;
  padding: 10px;
  a {
    color: #FFFFFF;
  }
}
.establishment {
    height: 150px;
}
.establishment:hover, .beer:hover {
  background-color: rgba(101, 28, 0, 0.75);
  color: #FFFFFF;
  a {
    text-decoration: none;
  }
  a:hover {
    font-weight: bold;
    text-transform: uppercase;
  }
}
.beer {
  width: 170px;
  height: 180px;
  float: left;
  h3 {
    margin: 5px;
  }
}

.brewery {
  vertical-align: bottom;  
}

.establishment-container {
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 700px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  .establishment-site a {
    color: #651c00;
    font-weight: bold;
  }
  .beer-selection {
    height: 50px;
    padding: 15px;
  }
}

#map {
  margin-left: 15px;
  border: 1px solid #651c00;
}

.user-container {
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 700px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  .user-beer-stats {
    text-align: right;
  }
}

.beer-large {
  text-align: center;
  float: left;
  background-color: #fdd64c;
  border: 1px solid #651c00;
  padding: 10px;
  width: 33.3%;
  height: 300px;
  a {
    color: #FFFFFF;
  }
}
.beer-large:hover {
  background-color: rgba(101, 28, 0, 0.75);
  color: #FFFFFF;
  a {
    font-weight: lighter;
  }
  a:hover {
    font-weight: bold;
    text-transform: uppercase;
  }
}
.beer-container {
  background-color: #FFFFFF;
  margin: 0 auto;
  width: 720px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 20px;
  .rating {
    margin-left: -20px;
  }
}
.beer-name h1, .establishment-name h1 {
  font-size: 30pt;
}
.beer-description span {
  font-style: italic;
}

.checkins, .ratings, .uniques, .user-checkins, .average-rating {
  height: 75px;
  padding: 10px;
}

.current-user-rating, .abv {
  text-align: center;
}

.checkin-button, .submit-button {
  margin-top: 15px;
  border: 1px solid #651c00;
  border-radius: 5px;
  padding: 5px;
  background-color: #fdd64c;
  color: #FFFFFF;
  font-family: Quicksand;
  font-size: 16pt;
  text-transform: uppercase;
}

.new_rating {
  margin-left: 15px;
  margin-right: 15px;
  #rating_body {
    width: 100%;
  }
  #rating_rating{
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #000000;
  }
}

.consumptions {
  background-color: #000000;
  width: 100%;
  height: 700px;
  margin-top: 0px;
  padding-top: 75px;
  h1 {
    margin-left: 200px;
    color: #651c00;
    font-size: 50px;
    display: inline;
  }
  h2 {
    color: #FFFFFF;
    font-size: 45px;
    display: inline;
  }
  h3 {
    color: #651c00;
    font-size: 120px;
    font-weight: bold;
    display: inline;
    font-family: Lato;
  }
}

.beer-fill {
  float: left;
  padding-top: 264px;
}
.footer-note {
  color: #FFFFFF;
  font-family: Lato;
  font-size: 14pt;
  text-align: center;
  padding-top: 140px;
}

.container {
  width: 100%;
  padding: 0px;
  background-image: url('beermug.jpg');
}