
   <div class="consumptions">
    <%= image_tag(("beer-fill.gif"), :class => "beer-fill") %> 
    <h3> <%#= beers_consumed_today(Date.today) %>114</h3><h2> beers have been drank today.</h2> <BR>
   
    <h2> It is estimated that <span style="display: inline"><h3>20</h3></span> <h2>people have gotten drunk!</h2>
   </div>
